body {
	margin:0;
	padding: 0;
	background-color: #E9C1F6;
}
.background {
	
	background-color: #D5D5D5;
	margin-bottom: 0;
}
a {
	text-decoration: none;
	color: green;
}
a:hover {
	text-decoration: underline;
	color: black;
}
.contens {
position: fixed;
right:1px;
bottom:50px;
}
ul {
	padding-right: 5px;
}

.text-width {
	width: 80%;
	padding-left: 15px;
	padding-right: 15px;
}
.background p {
	margin-top: 0;
}

p {
	text-align:justify;
	text-indent: 15px;
	line-height: 30px;
	font-size: 18px;
}
img {
	float: right;
	margin-left: 15px;
}

h1 {
	margin-left: 23px;
}

h2 {
	color:#390404;
}

h3 {
	color:#C14C25 ;
}

#mgb {
	margin-bottom: 0;
}